    <nav class="navbar">
      <a class="heading" href="#">Purchase Report Demo</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            View Report grouped by ---->
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="invoice">Invoice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="distributor">Distributor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="customerLoc">Customer Location</a>
          </li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
