.heading {
    font-size: 34px;
    color: black;
    font-weight: bold;
    font-style:normal;
    font-family:'Lucida Sans Unicode';
}

.nav-item {
  font-size: 1em;
  color: black;
  font-weight: normal;
  font-style: normal;
  font-family: 'Lucida Sans Unicode';
  padding: 5px 40px 5px 0px;
  text-align:left;
  
}

ul{
  list-style-type: none;
}

.nav-link{
    color:blue;
    font-weight:bold;
}
